exportPattern("^[[:alpha:]]+")
importFrom(zoo, as.yearmon, as.Date.yearmon)
importFrom(countrycode, countrycode)
importFrom(rgdal, readOGR, ogrListLayers)
importFrom(raster, extent, raster, crop, extract, rasterToPoints, area, merge, crs, coordinates)
importFrom(sp, bbox, spTransform, SpatialPolygonsDataFrame)
importFrom(utils, unzip, download.file, tail, untar)
importFrom(data.table, year, month)
importFrom(xml2, read_xml, read_html)
importFrom(rvest, html_attr, html_nodes)
importFrom(R.utils, gunzip)
importFrom(ggplot2, ggplot, geom_tile, coord_quickmap, coord_map, labs, theme, scale_fill_gradientn, ggsave, aes, scale_x_continuous, guide_axis)
importFrom(plotrix, smoothColors)
importFrom(rgeos, gIntersection)
importFrom(methods, as)
importFrom(readr, write_rds)
importFrom(stringr, str_count)
